<h1>Welcome to chapter-06</h1>
<div class="flex flex-wrap justify-content-evenly">
  <div class="text-center p-3 bg-primary">Hellooooooooooooooo  pppppppppppppppppppppppppppppppppppppppppFlex Item 1</div>
  <div class="text-center p-3 bg-primary">Flex Item 2</div>
  <div class="text-center p-3 bg-primary">Flex Item 3</div>
</div>
<div class="grid">
  <div class="col-6">
    <div class="text-center p-3 bg-primary">6</div>
  </div>
  <div class="col-6">
    <div class="text-center p-3 bg-primary">6</div>

  </div>
  <div class="col-6">
    <div class="text-center p-3 bg-primary">6</div>
  </div>
  <div class="col-6">
    <div class="text-center p-3 bg-primary">6</div>
  </div>
</div>
