<div class="flex flex-column h-screen">
  <!-- Top Bar -->
  <!-- Top Bar -->
  <div class="flex bg-primary text-white p-3">


    <img src="images/priceisright_logo.png" height="50"/>

    <h2 class="m-0">The price is right ! </h2>

    <app-logged-user
      [profileImageUrl]="profileImageUrl"
      [firstName]="user.firstName"
      [lastName]="user.lastName"
      [role]="role"
      class="ml-auto"
    />

  </div>

  <div class="flex flex-1 overflow-hidden">

    <!-- Side Menu -->
    <div class="bg-gray-100 p-3 w-16rem border-right overflow-auto">
      <p-menu [model]="menuItems"></p-menu>
    </div>

    <!-- Main Content -->
    <div class="flex-1 p-4 overflow-auto">
      <router-outlet></router-outlet>
    </div>

  </div>

  <!-- Bottom Info Bar -->
  <div class="bg-primary text-white p-2 text-center">
    <small>IPAM - Projet d'intégration de développement 2024-2025</small>
  </div>

</div>
