<div class="login-wrapper">
  <div class="login-card">
    <h1 class="title">The Price Is Right</h1>
    <p class="subtitle">Connecte-toi à ton compte</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">
      <div class="field">
        <label for="login">Login</label>
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input pInputText id="login" formControlName="username" />
        </span>
      </div>

      <div class="field">
        <label for="password">Mot de passe</label>
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input pPassword id="password" formControlName="password" [feedback]="false" />
        </span>
      </div>

      <div class="field">
        <label for="role">Rôle</label>
        <p-dropdown
          id="role"
          [options]="roles"
          formControlName="role"
          placeholder="Choisis un rôle"
          class="w-full"
          optionLabel="label"
          optionValue="value"
        ></p-dropdown>
      </div>

      <button
        pButton
        type="submit"
        label="Se connecter"
        class="p-button-rounded p-button-lg login-button"
      ></button>
    </form>
  </div>
</div>

